@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-hex: #000000;
  --background-hex: #ffffff;
  --foreground-rgb: 0, 0, 0;
  --nav-hex: #99bbeb;
  --nav-rgb: 87,144,223;
  --background-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-hex: #000000;
    --background-hex: #ffffff;
    --foreground-rgb: 0, 0, 0;
    --background-rgb: 255, 255, 255;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb));
}
